@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #1C1D24;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

.d-flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.container {
  max-width: 980px;
  margin: auto; }

aside {
  background-color: #FFF;
  height: 100vh;
  width: 25%;
  position: fixed;
  left: 0;
  padding: 45px 45px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 8px 0px 44px -12px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 8px 0px 44px -12px rgba(0, 0, 0, 0.35);
  box-shadow: 8px 0px 44px -12px rgba(0, 0, 0, 0.35); }
  aside header {
    flex-direction: column;
    align-items: center; }
  aside img {
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  aside h3 {
    margin: 40px 0; }
  aside nav {
    justify-content: center;
    text-align: center; }
    aside nav ul {
      list-style: none; }
    aside nav li {
      text-transform: uppercase;
      margin: 20px 0; }
    aside nav a {
      color: #EA2340;
      text-decoration: none;
      font-weight: 700; }
  aside footer .icons {
    justify-content: center;
    align-items: center; }
  aside footer .icon img {
    height: 24px;
    width: auto;
    padding: 0 8px; }
  aside footer p.p-aside-footer {
    text-align: center;
    margin-top: 40px; }
  aside footer span {
    color: #EA2340; }

main {
  width: 75%;
  float: right; }
  main section.default {
    padding: 40px 0; }
  main h4 {
    color: #EA2340;
    text-transform: uppercase;
    margin: 20px 0; }
  main h5 {
    color: #1c1c1c; }
  main p {
    color: #888;
    line-height: 26px; }
  main .github {
    margin-top: 20px; }
  main .calendar-graph {
    padding: 10px; }
  main .contrib-number {
    font-size: 18px;
    color: #EA2340;
    padding: 8px 0; }
  main .formacao {
    justify-content: space-between; }
    main .formacao h5 {
      margin-bottom: 8px; }
  main .frontend {
    margin-top: 20px; }
  main .knowledges {
    padding: 20px;
    border-bottom: #EA2340 solid 1px; }
    main .knowledges ul.main-ul {
      color: #1c1c1c; }
    main .knowledges ul.sub-ul {
      margin-left: 20px;
      font-size: 15px;
      color: #999; }
    main .knowledges li {
      margin: 10px 0; }
  main .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; }
  main .projects-grid li {
    list-style: none;
    text-align: center;
    margin-bottom: 40px; }
  main .projects-grid li span {
    font-size: 18px;
    font-weight: bold;
    color: #EA2340; }
  main .projects-grid li img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px; }
  main .projects-grid li p.p-projects {
    font-size: 16px; }

@media (max-width: 450px) {
  aside, main {
    width: 100%;
    position: relative; }
  main section.default {
    padding: 0; }
  main .container {
    padding: 20px; }
  main .contrib-number {
    font-size: 15px;
    color: #EA2340;
    padding: 8px 0; }
  main .projects-grid {
    grid-template-columns: 1fr; }
  main .projects-grid li {
    margin-bottom: 40px; } }

@media (min-width: 450px) and (max-width: 1300px) {
  .container {
    padding: 40px; } }
