@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

body {
    background-color: #f6f6f6;
    color: #2F3136;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
}

span {
    color: #EC576B;
}

nav {
    margin-top: 20px;
    justify-content: space-between;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav .title-menu {
    margin-left: 10px;
    font-size: 25px;
}

nav li{
    padding: 0 10px;
    list-style: none;
}

nav li:last-child {
    padding-right: 0;
}

nav li a {
    text-decoration: none;
    color: #EC576B;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

section.default {
    margin-top: 40px;
}

.title-text {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #2F3136;
}

.line-title {
    height: 1px;
    width: 150px;
    background-color: #EC576B;
    margin: 8px auto 20px
}

.section-description p {
    color: #2F3136;
    text-align: center;
    max-width: 860px;
    margin: auto;
    line-height: 1.5em;
}

@media (max-width:700px) { /*Celular*/
    .container {
        max-width: 160px;
        margin: auto;
    }
}

@media (min-width:700px) and (max-width: 1000px) {
    .container {
        max-width: 660px;
        margin: auto;
    }
}

@media (min-width:1000px) {
    .container {
        max-width: 860px;
        margin: auto;
    }
}