@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

// colors
$black: #1C1D24;
$second-black: #1c1c1c;
$red: #EA2340;
$main-white: #FFF;
$grey: rgba(153, 153, 153, 0.191);

$bold: 700;

$default: 40px 0;

$title: 20px;
$subtitle: $second-black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $black;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.container {
    max-width: 980px;
    margin: auto;
}

aside {
    background-color: $main-white;
    height: 100vh;
    width: 25%;
    position: fixed;
    left: 0;
    padding: 45px 45px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 8px 0px 44px -12px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 0px 44px -12px rgba(0,0,0,0.35);
    box-shadow: 8px 0px 44px -12px rgba(0,0,0,0.35);

    header {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    h3 {
        margin: $default;
    }

    nav {
       justify-content: center;
       text-align: center;

        ul {
            list-style: none;
        }

        li {
            text-transform: uppercase;
            margin: 20px 0;
        }

        a {
            color: $red;
            text-decoration: none;
            font-weight: $bold;
        }
    }

    footer {
        .icons {
            justify-content: center;
            align-items: center;
        }
        .icon img {
            height: 24px;
            width: auto;
            padding: 0 8px;
        }

        p.p-aside-footer {
            text-align: center;
            margin-top: 40px;
        }

        span {
            color: $red;
        }
    }
}

main {
    width: 75%;
    float: right;

    section.default {
        padding: $default;
    }

    h4 {
        color: $red;
        text-transform: uppercase;
        margin: $title 0;
    }

    h5 {
        color: $second-black;
    }

    p {
        color: #888;
    }

    //github
    .github {
        margin-top: 20px;
    }

    .calendar-graph {
        padding: 10px;
    }

    .contrib-number {
        font-size: 18px;
        color: $red;
        padding: 8px 0;
    }

    //formação
    .formacao {
        justify-content: space-between;
        
        h5 {
            margin-bottom: 8px;
        }
    }

    //conhecimentos 
    .frontend {
        margin-top: 20px;
    }

    .knowledges {
        padding: 20px;
        border-bottom: $red solid 1px;

        ul.main-ul {
            color: $second-black;
        }
        ul.sub-ul {
            margin-left: 20px;
            font-size: 15px;
            color: #999;
        }

        li {
            margin: 10px 0;
        }
    }
    
}

@media (max-width: 450px) {
    aside, main {
        width: 100%;
        position: relative;
    }

    main {
        section.default {
            padding: 0;
        }
    }

    .container {
        padding: 20px;
    }

    .contrib-number {
        font-size: 15px;
        color: $red;
        padding: 8px 0;
    }
}

@media (min-width: 450px) and (max-width: 1300px) {
    .container {
        padding: 40px;
    }
}